#content {
	padding: 0 1em;
	padding-bottom: 3em;
	display: flex;
	flex-flow: column;
}

#content > .split > *:nth-child(2) {
	padding-left: 10em;
	display: flex;
	flex-flow: column;
}

#content > .split {
	flex-grow: 1;
}

.totals {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.item td:last-child button {
	background: none;
	width: auto;
}

.proceed-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
