.search-wrapper {
	display: flex;
}

.search {
	display: flex;
	flex-flow: row;
	width: 40em;
	font-size: 1.25em;
	align-items: center;
	padding: 0;
}

.search-wrapper.center {
	justify-content: center;
}

.search input {
	margin-right: 0.35em;
	flex-grow: 1;
}

.search button {
	margin: 0;
}
