#content {
	padding-bottom: 2em;
}

.categories {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: space-between;
	padding: 0 3em;
	width: 100%;
}

.categories .category {
	margin: 0.75em;
	display: flex;
	flex-flow: column;
	box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.15);
	background: white;
	border-radius: 0.5vw;
	padding: 0.75vw;
	padding-bottom: 0;
	cursor: pointer;
	width: 15vw;
	max-width: 25vw;
}

.categories .category > .wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories .category h2 {
	text-align: center;
}

.categories .placeholder {
	width: 100%;
}

.categories .category img {
	width: 100%;
}
