.categories {
	display: flex;
	width: 100vw;
	overflow: auto;
	scrollbar-width: none;
	padding: 1em 0;
	justify-content: center;
}

.categories > .category {
	display: flex;
	flex-flow: column;
	box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.15);
	background: white;
	border-radius: 0.5vw;
	padding: 0.75vw;
	cursor: pointer;
	transition: box-shadow 0.12s ease-in;
	margin: 0 1em;
}

.categories > .category img {
	width: 12.5vw;
	height: 12.5vw;
	object-fit: contain;
}

.categories > .category span {
	margin-top: 0.75em;
	text-align: center;
	overflow-wrap: break-word;
	width: 12.5vw;
}

.categories > .category:hover {
	box-shadow: 1px 1px 0.6vw rgba(0,0,0,0.45);
}
