.content {
	display: flex;
}

.content > .meta {
	width: 25vw;
	padding: 0 1em;
}

.content > .meta > h2:first-child {
	margin-top: 0;
}

.products_status {
	width: 100%;
}

.products {
	display: inline-flex;
	flex-flow: row wrap;
	width: 75vw;
	gap: 1em;
	padding: 0 1em;
}

.products > .search-wrapper {
	margin-bottom: 2em;
}

.products .product {
	display: flex;
	flex: calc(50% - 4em) 0 0;
	height: 8vw;
	padding: 0.75em;
	border: 1px solid rgb(200,200,200);
	border-radius: 0.5em;
	background: white;
	box-shadow: none;
	transition: box-shadow 0.2s ease-in;
}

.products .product:hover {
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
}

.products .product .data {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 0 0 0.5em 0;
	width: 100%;
}

.products .product img {
	object-fit: contain;
	border-radius: 0.5em;
	height: 100%;
}

.products .product > * {
	margin: 0 1em;
}

.products .product > *:first-child {
	margin-left: 0;
}

.products .product .name {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.25em;
}

.products .product .description {
	text-overflow: ellipsis;
	height: 100%;
}

.product .price {
	width: 100%;
	text-align: right;
}
