form:invalid button {
	pointer-events: none;
	opacity: 0.45;
}

form {
	display: flex;
	flex-flow: column;
	width: 25vw;
	padding: 2em;
}

form button {
	transition: 0.2s ease-in opacity;
	margin-top: 1em;
}

input:invalid, input:required:invalid, textarea:required:invalid {
	border-bottom: 2px solid red;
}

select:required:invalid {
	border-bottom: 2px solid red;
}

select:required:not(:invalid) {
	border-bottom: 2px solid green;
}

input:required:not(invalid), textarea:required:not(invalid) {
	border-bottom: 2px solid green;
}

input, textarea, select {
	padding: 0.5em 0.25em;
	border-radius: 0.2em;
	border: 1px solid black;
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
}

select {
	margin-bottom: 0.5em;
	border: 1px solid rgb(30, 30, 30);
	border-bottom: 1px solid rgb(30, 30, 30);
	padding: 0.5em 0.25em;
}

input[type="file"] {
	border: none;
}

label {
	margin-top: 0.75em;
	margin-bottom: 0.2em;
}

label.required:after {
	content: "*";
	margin-left: 0.1em;
	color: red;
}

label.required + input:not([placeholder]):required:invalid, label.required + input[placeholder]:required:invalid:placeholder-shown {
	border: 1px solid rgb(30,30,30);
}

label.required + select:required:invalid {
	border-bottom: 2px solid black;
}

textarea {
	resize: vertical;
	min-height: 4em;
}

textarea:disabled {
	resize: none;
}
