body {
	background: url("/static/background.jpg");
	background-size: contain;
}

#content > h1:first-child {
	margin-top: default;
	padding: 30vh 0;
	color: white;
}

h2 {
	text-align: center;
	cursor: default;
}

#content {
	display: flex;
	flex-flow: column;
}

#content .section {
	background: white;
	padding: 10em 0;
	clip-path: polygon(100% 4%, 100% 100%, 50% 100%, 0 100%, 0 4%, 50% 0%);
	display: flex;
	flex-flow: column;
}

.section > span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	margin: 1em;
}

#content > .section-wrapper {
	filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.15));
}

#content .section button {
	margin: auto;
}

.latest-products {
	display: flex;
	width: 100vw;
	overflow: auto;
	scrollbar-width: none;
	padding: 1em 0;
	justify-content: center;
}

.latest-products .product {
	margin: 0 1em;
	display: flex;
	flex-flow: column;
	box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.15);
	background: white;
	border-radius: 0.5vw;
	padding: 0.75vw;
	cursor: pointer;
	transition: box-shadow 0.12s ease-in;
}

@keyframes show {
	0% {
		box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.15);
	}
	50% {
		box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.5);
	}
	100% {
		box-shadow: 1px 1px 0.4vw rgba(0,0,0,0.15);
	}
}

.latest-products .product:hover {
	box-shadow: 1px 1px 0.6vw rgba(0,0,0,0.45);
}

.latest-products .product > span {
	margin-top: 0.75em;
	text-align: center;
	overflow-wrap: break-word;
	width: 12.5vw;
}

.latest-products .product > img {
	height: 12.5vw;
	width: 12.5vw;
	object-fit: cover;
}

.explore button {
	font-size: 1.25em;
}

.explore {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 2em 0;
}
