#content form {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100vw;
}

#content form input {
	margin: 0.5em;
}

#content form label, #content form input, #content form button {
	font-size: 1.1em;
}
