#content {
	padding-bottom: 3em;
}

.news {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.news .entry {
	width: 35vw;
	box-shadow: 1px 1px 1.5em rgba(0,0,0,0.3);
	padding: 1.5em;
	border-radius: 0.5em;
	cursor: pointer;
}

.news .entry > img {
	width: 100%;
}

.news .entry .description {
	height: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
}
