.nth-var:nth-child(10n + 0) {
  --digit-1: 0;
}
.nth-var:nth-child(10n + 1) {
  --digit-1: 1;
}
.nth-var:nth-child(10n + 2) {
  --digit-1: 2;
}
.nth-var:nth-child(10n + 3) {
  --digit-1: 3;
}
.nth-var:nth-child(10n + 4) {
  --digit-1: 4;
}
.nth-var:nth-child(10n + 5) {
  --digit-1: 5;
}
.nth-var:nth-child(10n + 6) {
  --digit-1: 6;
}
.nth-var:nth-child(10n + 7) {
  --digit-1: 7;
}
.nth-var:nth-child(10n + 8) {
  --digit-1: 8;
}
.nth-var:nth-child(10n + 9) {
  --digit-1: 9;
}
.nth-var:nth-child(-n + 10) {
  --digit-2: 0;
}
.nth-var:nth-child(n + 10):nth-child(-n + 20) {
  --digit-2: 10;
}
.nth-var:nth-child(n + 20):nth-child(-n + 30) {
  --digit-2: 20;
}
.nth-var:nth-child(n + 30):nth-child(-n + 40) {
  --digit-2: 30;
}
.nth-var:nth-child(n + 40):nth-child(-n + 50) {
  --digit-2: 40;
}
.nth-var:nth-child(n + 50):nth-child(-n + 60) {
  --digit-2: 50;
}
.nth-var:nth-child(n + 60):nth-child(-n + 70) {
  --digit-2: 60;
}
.nth-var:nth-child(n + 70):nth-child(-n + 80) {
  --digit-2: 70;
}
.nth-var:nth-child(n + 80):nth-child(-n + 90) {
  --digit-2: 80;
}
.nth-var:nth-child(n + 90):nth-child(-n + 100) {
  --digit-2: 90;
}
.nth-var:nth-child(n + 100):nth-child(-n + 110) {
  --digit-2: 100;
}

.nth-var:nth-child(n) {
	--index: calc(calc(var(--digit-1) + var(--digit-2)) - 1);
}
