.button-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1em 0;
}

#content {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#content h1:first-child {
	margin-bottom: 0;
	padding-top: 0.4em;
}

#content form label, #content form input, #content form button {
	font-size: 1.1em;
}
