.search {
	flex-flow: row;
	align-items: center;
	padding: 0.5em 0;
	flex-grow: 1;
}

.search > * {
	margin: 0 0.35em;
}

.search > label {
	width: fit-content;
}

.search-wrapper {
	display: flex;
	padding: 0 0.25em;
}
