* {
	box-sizing: border-box;
}

#content > h1:first-child {
	margin-top: 0;
	padding-top: 0.75em;
}

body {
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

h1 {
	text-align: center;
	font-size: 4.25em;
	cursor: default;
}

#content {
	min-height: calc(100vh - 8rem - 5rem);
	font-size: 1.05em;
}

body > header {
	height: 5rem;
	position: sticky;
	backdrop-filter: blur(3px);
	top: 0;
	z-index: 10;
	width: 100vw;
	padding: 0.25em;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.95);
	display: flex;
	align-items: center;
	font-size: 1.25em;
}

body > header > a {
	padding: 1em 0.5em;
}

a {
	text-decoration: none;
	color: black;
}

body > header > a:after {
	content: "";
	display: block;
	transition: width 0.25s ease-in 0.1s;
	width: 0;
	height: 2px;
	background: black;
}

body > header > a:hover:after {
	width: 100%;
}

body > header > .placeholder {
	flex-grow: 1;
}

body > footer {
	height: 8rem;
	width: 100vw;
	background-color: rgb(20, 30, 40);
	display: flex;
}

body > footer a {
	color: white;
}

body > footer > span {
	display: flex;
	flex-flow: column;
	height: 100%;
	padding: 0.5em;
}

button, .button {
	padding: 1em;
	border-radius: 0.5em;
	width: 10em;
	appearance: none;
	border: none;
	background: rgb(30,180,30);
	color: white;
	cursor: pointer;
	transition: background 0.15s ease-in;
	font-size: 1em;
	transition: 0.1s ease-in background;
}

.red {
	background: rgb(180, 30, 30);
}

button.red:hover, .button.red:hover {
	background: rgb(170, 20, 20);
}

button:hover, .button:hover {
	background: rgb(20,170,20);
}

button:disabled {
	opacity: 0.45;
	pointer-events: none;
}

button:hover {
	background: rgb(10,160,10);
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 1em;
}

.split > .info {
	padding-left: 25%;
	padding-right: 25%;
	line-height: 1.5em;
}

.split > *:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 3;
}

.placeholder.vertical {
	height: 100%;
	flex-grow: 2;
}

.fa-xmark {
	color: red;
}

.fa-paperclip {
	color: grey;
}

.tag {
	color: white;
	cursor: pointer;
	padding: 0.35em 0.35em;
	border: 1px solid rgba(100,100,100);
	border-radius: 0.25em;
	background: rgb(70,70,70);
}

button.fa-solid {
	width: fit-content;
	padding: 0.5em;
}
