.tab-input + label {
	border: 1px solid rgba(30,30,30);
	border-radius: 0.25em;
	padding: 0.35em;
	order: 0;
	transition: 0.10s linear background, 0.10s linear color;
	cursor: pointer;
}

.tab-input:checked + label {
	background: rgb(30,30,30);
	color: white;
	margin: 0 0.5em;
}

.tab-input + label:hover {
	background: rgb(220,220,220);
}

.tab-input:checked + label:hover {
	background: rgb(50,50,50);
}

.tab-input:checked + label:first-of-type {
	margin-left: 0;
}

.tab-input:checked + label:last-of-type {
	margin-right: 0;
}

.tab-input:not(:checked) + label + .tab {
	display: none !important;
}

.tab-input + label + .tab {
	order: 2;
	flex-basis: 100%;
	margin-top: 1em;
}

.tab-input {
	display: none;
}

.tabs-container {
	display: flex;
	flex-wrap: wrap;
}
