{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/category/add_category.css" />
{% endblock %}
{% block content %}
<h1>Add category</h1>
<form action="/catalog/category_add" method="POST" id="add-form">
	<div>
		<label>Name</label>
		<input required type="text" name="name" />

		<label>Description</label>
		<textarea name="description"></textarea>
	</div>
	<div>
		<label>Avatar</label>
		<input type="file" name="avatar" />

		<label>Parent category</label>
		<select name="category">
			<option>None</option>
			{% for category in categories %}
				<option value="{{category.id()}}">{{category.name}}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<button>Add</button>
	</div>
</form>
{% endblock %}
