{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/category/delete_category.css" />
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/nth-var.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
<h1>Delete category</h1>
<div class="content-wrapper">
	<div>
		{% if !items.is_empty() %}
		<h2>
			Category contains {{items.len()}} items, so you cannot delete it
		</h2>
		<p>
			Products in this category must be moved to other category. 
		</p>
		<p>
			You can do it in two ways:
		</p>
		<input type="radio" name="variant" id="variant-1" />
		<h3><label for="variant-1">Select category for each item</label></h3>
		<div>
			<div class="items-wrapper">
				<div class="placeholder"></div>
				<div class="items">
					{% for item in items %}
					<a href="/product/{{item.id()}}">
						<i class="fa-solid fa-paperclip"></i>
						{{item.name}}
					</a>
					<select required form="variant-1-form" class="nth-var">
						<option value selected 
								disabled>{{category.name}}</option>
						{% for c in categories %}
						<option value="{{c.id()}}">{{c.name}}</option>
						{% endfor %}
					</select>
					{% endfor %}
				</div>
			</div>
		</div>
		<input type="radio" name="variant" id="variant-2" />
		<h3><label for="variant-2">Select category for all items</label></h3>
		<div>
			<p>All products will be moved to the following category</p>
			<select required form="variant-2-form">
				<option value selected disabled>{{category.name}}</option>
				{% for c in categories %}
				<option value="{{c.id()}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="variant variant-1">
			<form id="variant-1-form">
				<button>Move products</button>
			</form>
		</div>
		<div class="variant variant-2">
			<form id="variant-2-form">
				<button>Move products</button>
			</form>
		</div>
		<div class="variant-other">
			<form>
				<button>Move products</button>
			</form>
		</div>
		{% endif %}
	</div>
	<div>
		<h2>Category info</h2>
		<form>
			<label>id</label>
			<input type="text" disabled value="{{category.id()}}" />
			<label>Name</label>
			<input type="text" disabled value="{{category.name}}" />
			<label>Description</label>
			<textarea disabled>{{category.description}}</textarea>
		</form>
	</div>
	<div>
		{% if items.is_empty() %}
			<button class="red">Delete category</button>
		{% else %}
			<button disabled class="red">Delete category</button>
		{% endif %}
	</div>
</div>
{% endblock %}
