{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
{% endblock %}
{% block content %}
<h1>Edit category</h1>
<form action="/category/edit/{{category.id()}}" method="POST">

	<label>Name</label>
	<input type="text" name="name" value="{{category.name}}" />

	<label>Description</label>
	<textarea name="description">{{category.description}}</textarea>

	<button>Confirm</button>
</form>
{% endblock %}
