#content {
	padding: 1em;
	display: flex;
	flex-flow: column;
}

#content .description{
	display: grid;
	grid-template-columns: auto 4fr 1fr;
}

.avatar {
	width: 25vw;
	object-fit: contain;
	height: fit-content;
	margin-right: 1em;
}

#content > a:first-of-type {
	width: 100%;
	margin: 1em 0;
	font-size: 1.2em;
	text-decoration: underline;
}

#content > a:first-of-type:before {
	content: "← ";
}

.info {
	display: flex;
	flex-flow: column;
	padding-right: 3em;
}

.info h1 {
	text-align: left;
}

.info span {
	height: 100%;
}

.info button {
	align-self: flex-end;
}

h1 {
	margin-bottom: 0.25em;
	margin-top: 0;
	font-size: 3rem;
}

.tags {
	margin-bottom: 1em;
}

.info header {
	display: flex;
	justify-content: space-between;
}
