#content {
	padding: 0.5em;
}

.products_wrapper {
	max-height: 50vh;
	overflow-x: scroll;
	width: fit-content;
}

.products {
	background: white;
	border-collapse: separate;
	border-spacing: 1em 0;
	padding: 0.4em;
	padding-top: 0;
	border-radius: 0.5em;
}

.products * {
	padding: 0.3em;
}

.products tr:first-child {
	background: rgba(255,255,255,0.9);
	position: sticky;
	top: 0;
}

.products tr:first-child th {
	padding-top: 0.5em;
}

.info > * {
	margin: 0 0.5em;
}

.content {
	display: grid;
	grid-template-columns: 3fr 2fr;
}
