.items-wrapper {
	overflow-x: scroll;
	max-height: 50vh;
	width: fit-content;
	box-shadow: inset 0 -1.5em 1.5em -20px rgba(0,0,0,0.3), inset 0 3.5em 1.5em -20px rgba(0,0,0,0.3);
}

.cart-items {
	border-collapse: collapse;
	position: relative;
	min-height: 10em;
}

.cart-items tr:nth-child(2) {
	height: 100%;
	background: black;
}

.cart-items td {
	padding: 0.5em 1.5em;
}

.cart-items tr:first-child {
	position: sticky;
	top: 0;
	background: #F6F5F4;
}

.cart-items tr:first-child th {
	padding: 0.75em 0.5em;
}

.cart-items tr:nth-child(2), .cart-items tr:last-child {
	background: #F6F5F4;
}

.cart-items:after {
	display: block;
	position: absolute;
	width: 100%;
	background: #F6F5F4;
	height: 1.5em;
	column-span: all;
}
