.split > * {
	padding: 2em;
}

#details-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 1em;
}

#details-form > button {
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left: auto;
}

#details-form > h2:first-child {
	grid-column-start: 1;
	grid-column-end: 3;
}

#details-form > div {
	display: flex;
	flex-flow: column;
}

#details-form > div textarea {
	resize: none;
	height: 100%;
}

