#add-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"a b"
		". c";
	grid-gap: 0.5em;
}

#add-form > div > label {
	padding-top: 0.5em;
}

#add-form > div:last-child {
	grid-area: c;
	display: flex;
	justify-content: center;
}
