#content {
	margin: 0.5em;
}

.content-wrapper {
	display: grid;
	grid-template-areas: 
		"a b"
		"c c";
}

.content-wrapper > div:last-child {
	grid-area: c;
	display: flex;
	justify-content: center;
}

.content-wrapper > div form {
	padding: 0;
}

.content-wrapper input[type="radio"] + h3 + div {
	transition: 0.1s ease-in opacity;
}

.content-wrapper input[type="radio"] + h3 + div select {
	transition: 0.1s ease-in border-bottom;
}

.content-wrapper input[type="radio"] + h3 + div select:nth-child(n) {
	transition: 0.15s ease-in border-bottom;
	transition-delay: calc(0.03s * var(--index));
}

.content-wrapper input[type="radio"]:not(:checked) + h3 + div select {
	border-bottom: 2px solid black;
}

.content-wrapper input[type="radio"] + h3 > label {
	cursor: pointer;
}

.content-wrapper input[type="radio"] + h3 {
	width: fit-content;
	position: relative;
	cursor: default;
	display: inline-block;
}

.content-wrapper input[type="radio"] + h3:after {
	content: "";
	position: absolute;
	width: 0;
	transition: 0.25s ease-in-out width;
	height: 2px;
	bottom: 0;
	left: 0;
	background: black;
	display: block;
}

.content-wrapper input[type="radio"]:checked + h3:after {
	width: 100%;
}

#variant-1:checked ~ .variant-1 {
	display: block;
}

#variant-2:checked ~ .variant-2 {
	display: block;
}

#variant-1:checked ~ .variant-other, #variant-2:checked ~ .variant-other {
	display: none;
}

.variant-other {
	display: block;
	opacity: 0.5;
	pointer-events: none;
}

.variant, .variant-other {
	margin-top: 2em;
}

.variant {
	display: none;
}


.content-wrapper input[type="radio"] {
	display: inline-block;
}

.items-wrapper {
	height: 15em;
	overflow: scroll;
	padding-right: 0.5em;
	width: fit-content;
	position: relative;
}

.items {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
	width: 40vw;
}

.items a {
	margin: auto 0;
}
