{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/cart.css" />
<link rel="stylesheet" href="/static/cart/cart_items.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
<h1>Cart</h1>
<div class="split">
	<div>
		{% if let Some(cart) = cart %}
		<form action="/cart/user_details" method="POST" id="user_details_form">
		</form>
		<div class="items-wrapper">
			<table class="cart-items">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Count</th>
					<th>Price</th>
					<th></th>
				</tr>
				{% for (index, (item, count)) in cart.items.iter().enumerate() 
				%}
				<tr class="item">
					<td>
						<input form="user_details_form" type="checkbox" checked 
														name="items[{{index}}]" 
														value="{{item.id()}}" 
														id="{{item.id()}}_item" />
					</td>
					<td>{{item.name}}</td>
					<td>
						{{count}}
					</td>
					<td>${{ item.price.round_dp(2) }}</td>
					<td>
						<form action="/cart/remove?id={{item.id()}}" 
							  method="POST">
							<button class="fa-solid fa-xmark"></button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>
	<div>
		<span>
			{% if let Some(login) = login %}
			Hello, {{login}}
			{% else %}
			Hello, anonymous user
			{% endif %}
		</span>
		{% if self.cart_is_empty() %}
		<span>
			Your cart is empty for now.
		</span>
		{% endif %}
		{% if let Some(login) = login %}
		<span>
			<br>
			<a href="/me"><u>Purchase history</u></a>
		</span>
		{% endif %}
	</div>
</div>
<div class="proceed-wrapper">
	{% if self.cart_is_empty() %}
	<button disabled>Proceed</button>
	{% else %}
	<button form="user_details_form">Proceed</button>
	{% endif %}
</div>
{% endblock %}
