{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/cart_info.css" />
{% endblock %}
{% block content %}
{% if let Some(cart) = cart %}
<h1>Cart info</h1>
<div class="split">
	<div class="items-wrapper">
		<table class="cart-items">
			<tr>
				<th>Name</th>
				<th>Count</th>
				<th>Price</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{% for (index, (item, count)) in cart.items.iter().enumerate() 
			%}
			<tr class="item">
				<td>{{item.name}}</td>
				<td>
					{{count}}
				</td>
				<td>${{ item.price.round_dp(2) }}</td>
			</tr>
			{% endfor %}
		</table>
		<h2>Total is</h2>
		<span>${{cart.total().round_dp(2)}}</span>
	</div>
	<div>
	</div>
</div>
{% else %}
<h1>We couldn't find cart you are looking for</h1>
{% endif %}
{% endblock %}
