{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/cart/success.css" />
{% endblock %}
{% block content %}
<h1>Success</h1>
<span>Thank you for buying our courses</span>
<span>Items will be sent to your email soon</span>
{% endblock %}
