{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/cart/user_details.css" />
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/cart/cart_items.css" />
{% endblock %}
{% block content %}
<div class="split">
	<form id="details-form" action="/cart/confirm" method="POST">
		<h2>Provide your details</h2>
		<div>
			<label>First name</label>
			<input required type="text" name="first_name" placeholder = ""/>
			<label>Last name</label>
			<input required type="text" name="last_name" placeholder="" />
			<label>Email</label>
			<input required type="email" name="email" placeholder="" />
			<label>Phone number</label>
			<input type="tel" name="phone_number" placeholder="" />
		</div>

		<div>
			<label>Address</label>
			<textarea required name="address" placeholder=""></textarea>
			<label>Coupon</label>
			<input type="text" name="coupon" />
			<label for="payment_method">Payment method</label>
			<select required id="payment_method">
				<option>Card</option>
			</select>
		</div>
		<button>Confirm</button>
	</form>
	<div>
		{% if let Some(cart) = cart %}
		<h2>Total</h2>
		<table class="cart-items">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Count</th>
				<th>Price</th>
			</tr>
			{% for (item, count) in cart.items.iter() %}
			<tr class="item">
				<td>
					<input type="checkbox" checked disabled />
				</td>
				<td>{{item.name}}</td>
				<td>
					{{count}}
				</td>
				<td>${{ item.price.round_dp(2) }}</td>
			</tr>
			{% endfor %}
		</table>
		<div class="totals">
			<span>${{cart.total().round_dp(2)}}</span>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
