<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style.css" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<script></script>
		<header>
			<a href="/">Home</a>
			<a href="/catalog">Catalog</a>
			<div class="placeholder"></div>
			<a href="/cart">Cart</a>
			{% match login %}
				{% when Some(_) %}
				<a href="/me">Me</a>
				<a href="/logout">Logout</a>
				{% when None %}
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			{% endmatch %}
		</header>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<span>
				<a href="/about">About</a>
				<a href="/contacts">Contacts</a>
			</span>
		</footer>
	</body>
</html>
