{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/catalog_search_bar.css" />
<link rel="stylesheet" href="/static/catalog.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block role %}
{% let role = false %}
{% endblock %}
{% block content %}
<h1>Catalog</h1>
<header class="search-wrapper center">
	<form class="search" action="/catalog/search" method="GET">
		<input type="text" name="prompt" 
					 placeholder="search products in all categories" />
		<button class="fa-solid fa-search"></button>
	</form>
</header>
{% if !categories.is_empty() %}
<div class="categories">
	{% for c in categories %}
	<a class="category" href="/catalog/{{c.id}}">
		{% if let Some(img) = c.image %}
			<img class="avatar" src="{{img.display()}}" />
		{% else %}
			<img class="avatar" src="/static/placeholder.png" />
		{% endif %}
		<div class="wrapper">
			<h2>{{c.name}}</h2>
		</div>
	</a>
	{% endfor %}
	<div class="placeholder"></div>
</div>
{% endif %}
{% endblock %}
