{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/catalog_search_bar.css" />
<link rel="stylesheet" href="/static/category.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
<h1>{{ category.name }}</h1>
<div class="content">
	<div class="meta">
		<h2>Description</h2>
		<span class="description">{{ category.description }}</span>
		<h2>Filters</h2>
	</div>
	<div class="products">
		<header class="search-wrapper">
			<form class="search" action="/catalog/{{category.id}}/search" method="GET">
				<input type="text" name="prompt" 
							 placeholder="search products in this category" />
				<button class="fa-solid fa-search"></button>
			</form>
		</header>
		<h2 class="products_status">Showing {{products.len()}} products</h2>
		{% for product in products %}
		<a class="product" href="/product/{{product.id}}">
			{% if let Some(img) = product.images.get(0) %}
				<img class="avatar" src="{{img.display()}}" />
			{% else %}
				<img class="avatar" src="/static/placeholder.png" />
			{% endif %}
			<div class="data">
				<span class="name">{{ product.name }}</span>
				<span class="description">{{ product.description }}</span>
				{% if let Some(price) = product.price %}
				<span class="price">${{ price.round_dp(2) }}</span>
				{% endif %}
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
