{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/index.css" />
<link rel="stylesheet" href="/static/categories.css" />
<link rel="stylesheet" href="/static/nth-var.css" />
{% endblock %}
{% block content %}
<h1>Welcome to UI/UX courses shop</h1>
<div class="section-wrapper">
	<div class="section">
		<span>
			On our website you will find UI/UX courses for all kinds of 
			learners
		</span>
		<h2>Latest products</h2>
		<div class="latest-products">
			{% for product in products %}
			<a class="product nth-var" href="/product/{{product.id()}}">
				{% if let Some(img) = product.images.get(0) %}
					<img class="avatar" src="{{img.display()}}" />
				{% else %}
					<img class="avatar" src="/static/placeholder.png" />
				{% endif %}
				<span>{{ product.name }}</span>
			</a>
			{% endfor %}
		</div>
		<h2>Top categories</h2>
		<div class="categories top-categories">
			{% for category in categories %}
			<a class="category" href="/catalog/{{category.id()}}">
				{% if let Some(img) = category.image %}
					<img class="avatar" src="{{img.display()}}" />
				{% else %}
					<img class="avatar" src="/static/placeholder.png" />
				{% endif %}
				<span>{{ category.name }}</span>
			</a>
			{% endfor %}
		</div>
		<form action="/catalog" class="explore">
			<button>Explore</button>
		</form>
	</div>
</div>
{% endblock %}
