{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/login.css" />
{% endblock %}
{% block content %}
<h1>Login</h1>
<form action="/login" method="POST">
	{% if let Some(msg) = err %}
	<span class="error-message">{{msg}}</span>
	{% endif %}
	{% if let Some(login) = login %}
	<span class="note">You are logged in as {{login}} now</span>
	{% endif %}
	<label for="login">Login</label>
	<input required type="text" name="login" id="login" />
	<label for="password">Password</label>
	<input required type="password" name="password" id="password" />
	<button>Login</button>
</form>
{% endblock %}
