{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/manage.css" />
{% endblock %}
{% block content %}
<h1>Application management</h1>
<details open>
	<summary><h2>Category</h2></summary>
	<a href="/manage/category/add" class="button">Add category</a>
	<a href="/manage/category/list" class="button">Category list</a>
</details>
<details open>
	<summary><h2>Product</h2></summary>
	<a href="/manage/product/add" class="button">Add product</a>
	<a href="/manage/product/list" class="button">Product list</a>
</details>
{% endblock %}
