{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/me.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
{% if purchase_history.is_empty() %}
<h1>Your don't have any purchases yet</h1>
{% else %}
<h1>{{user_login}}'s purchases</h1>
<table class="items">
	<tr>
		<th>Date</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Phone number</th>
		<th>Items</th>
	</tr>
	{% for purchase in purchase_history %}
	<tr>
		<td>{{purchase.date.format("%Y-%m-%d %H:%M:%S").to_string()}}</td>
		<td>{{purchase.contact_info.first_name}}</td>
		<td>{{purchase.contact_info.last_name}}</td>
		<td>
			{% if let Some(n) = purchase.contact_info.phone_number %}
			{{n}}
			{% else %}
			-
			{% endif %}
		</td>
		<td>
			<a href="/cart/{{purchase.cart.clone().into_inner()}}" 
			   class="fa-solid fa-paperclip"></a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}
