{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/news.css" />
{% endblock %}
{% block content %}
<h1>News</h1>
<div class="news">
	{% for entry in news %}
	<div class="entry">
		<img src="/static/placeholder.png" />
		<h2 class="name">{{entry.name}}</h2>
		<span class="description">{{entry.description}}</span>
	</div>
	{% endfor %}
</div>
{% endblock %}
