{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/register.css" />
<link rel="stylesheet" href="/static/form.css" />
{% endblock %}
{% block content %}
<h1>Register</h1>
<form id="register-form" action="/register" method="POST">
	{% if let Some(err) = error %}
	<span>{{err}}</span>
	{% endif %}
	<label for="login" class="required">Login</label>
	<input required type="text" name="login" id="login" />
	<label for="password" class="required">Password</label>
	<input required type="password" name="password" id="password" />
	<label for="email" class="required">Email</label>
	<input required type="email" name="email" id="email" 
											  placeholder="test@example.com" />
	<label for="phone_number">Phone number</label>
	<input type="tel" name="phone_number" 
					  id="phone_number" 
					  pattern="^\+\d{1,3}[\(|-]?\d{2}[\)|-]?\d{3}(-?\d{2}){2}$"
					  placeholder="+000(00)000-00-00"
						  />
	<div class="button-wrapper">
		<button>Register</button>
	</div>
</form>
{% endblock %}
