{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/error.css" />
{% endblock %}
{% block content %}
<h1>Unauthorized</h1>
<span>You are not permitted to see content of this page</span>
{% endblock %}
