{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
{% endblock %}
{% block content %}
<h1>Add product</h1>
<form action="/product/add" method="POST" class="split" id="add-product-form">
	<div>
		<label class="required">Name</label>
		<input required type="text" name="name" />

		<label>Description</label>
		<textarea name="description"></textarea>

		<label class="required">Price</label>
		<input required type="number" name="price" min="0" />
	</div>
	<div>
		<label>Avatar</label>
		<input type="file" name="avatar" multiple />

		<label class="required">Category</label>
		<select required name="category">
			<option value selected disabled>-- Select category --</option>
			{% for category in categories %}
			<option value="{{category.id()}}">{{category.name}}</option>
			{% endfor %}
		</select>
	</div>

	<button>Add</button>
</form>
{% endblock %}
