{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Delete product '{{product.name}}'</h1>
<form action="/product/delete/{{product.id()}}" method="POST">
	<h2>Are you sure you want to delete product?</h2>
	<button>Confirm</button>
</form>
{% endblock %}
