{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/product/edit.css" />
{% endblock %}
{% block content %}
<h1>Edit '{{product.name}}'</h2>
<form action="/product/edit/{{product.id()}}" method="POST">

	<label>Name</label>
	<input type="text" name="name" value="{{product.name}}" />

	<label>Description</label>
	<textarea name="description"></textarea>

	<label>Price</label>
	<input type="numeric" value="{{product.fmt_price()}}" />

	<select name="category">
		{% for category in categories %}
		<option value="{{category.id()}}">{{category.name}}</option>
		{% endfor %}
	</select>

	<label>Added</label>
	<input type="date" disabled value="{{product.added}}" />

	<label>id</label>
	<input type="text" disabled value="{{product.id()}}" />

	<button>Confirm</button>
</form>
{% endblock %}
