{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/tabs.css" />
<link rel="stylesheet" href="/static/product/info.css" />
{% endblock %}
{% block content %}
<a href="/catalog/{{category.id}}">{{category.name}}</a>
<div class="tabs-container">
	<input type="radio" name="tab" checked id="tab-1" class="tab-input" />
	<label for="tab-1" class="tab-label">Description</label>
	<div class="description tab">
		{% if let Some(img) = product.images.get(0) %}
			<img class="avatar" src="{{img.display()}}" />
		{% else %}
			<img class="avatar" src="/static/placeholder.png" />
		{% endif %}
		<div class="info">
			<div>
				<header>
					<h1>{{product.name}}</h1>
					{% if let Some(price) = product.price %}
					<h2 class="price">${{ price.round_dp(2) }}</h2>
				</header>
				{% endif %}
				<div class="tags">
					<a href="/catalog/{{category.id}}" class="tag">
						{{category.name}}
					</a>
				</div>
			</div>
			<span>{{product.description}}</span>
			<form action="/cart/add?id={{product.id()}}" method="POST">
				<button class="add-to-cart" >Add to cart</button>
			</form>
		</div>
	</div>
	<input type="radio" name="tab" id="tab-2" class="tab-input" />
	<label for="tab-2" class="tab-label">Reviews</label>
	<div class="reviews tab">
	</div>
</div>
{% endblock %}
