{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/search_bar.css" />
<link rel="stylesheet" href="/static/product/list.css" />
<link rel="stylesheet" href="/static/form.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
<h2>Products</h2>
<header class="search-wrapper">
	<form class="search">
		{% if let Some(p) = prompt %}
		<input type="text" name="prompt" placeholder="search products" 
										 value="{{p}}" />
		{% else %}
		<input type="text" name="prompt" placeholder="search products" />
		{% endif %}
		<label>Sort&nbsp;by</label>
		<select name="sort_by">
			<option selected value="name">Name</option>
			<option value="price">Price</option>
			<option value="category">Category</option>
			<option value="in_stock">In stock</option>
			<option value="added">Added</option>
			<option value="description">Description</option>
		</select>
		<label>Ordering</label>
		<select name="ordering">
			<option value="ascending">Ascending</option>
			<option value="descending">Descending</option>
		</select>
		<button class="fa-solid fa-search"></button>
	</form>
	<div class="info">
		<span>Displaying {{products.len()}} of {{total_items}} items</span>
		<a class="button" href="/manage/product/list">Reset</a>
	</div>
</header>
<div class="products_wrapper">
	<table class="products">
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Category</th>
			<th>In stock</th>
			<th>Added</th>
			<th></th>
		</tr>
		{% for (product, category) in products %}
		<tr>
			<td><a href="/product/{{product.id()}}">
				<code>{{product.fmt_id()}}</code>
			</a></td>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.fmt_price()}}</td>
			<td><a href="/catalog/{{category.id()}}">{{category.name}}</a></td>
			<td>{{product.fmt_in_stock()}}</td>
			<td>{{product.fmt_added()}}</td>
			<td>
				<a href="/manage/product/edit/{{product.id()}}">Edit</a>
				<a href="/manage/product/delete/{{product.id()}}">Delete</a>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
