{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/manage/categories.css" />
<link rel="stylesheet" href="/static/css/fontawesome.min.css" />
<link rel="stylesheet" href="/static/css/solid.min.css" />
{% endblock %}
{% block content %}
<h2>Categories</h2>
<table>
	<tr>
		<th>id</th>
		<th>Name</th>
		<th></th>
		<th></th>
	</tr>
	{% for category in categories %}
	<tr>
		<td>
			<code>
				{{category.id().to_string().split_at(15).0.to_string() + ".."}}
			</code>
		</td>
		<td>{{category.name}}</td>
		<td>
			<a href="/manage/category/delete/{{category.id()}}" class="fa-solid 
					 fa-xmark">
			</a>
		</td>
		<td><a href="/manage/category/edit/{{category.id()}}"></a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
